body {
	width: 50%;
	margin-left: 25%;
	margin-right: 15%;
	background-color: whitesmoke;

}

div.image {
	float: right;
	margin-left: 5%;
	margin-bottom: 3%;
	margin-top: 3%;
}

p {
	text-align: left;	
}

table,th,tr,td,caption {
	border-style: double;
}

